@using UnivarsityManagemantSystem.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
}

<h4><i class="icon-plus-sign">Add Department</i></h4>
<!DOCTYPE html>
@section style
    {
    <style>
        label.error {
            color: red;
            font-style: italic;
            display:inline;
        }
    </style>

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    
    
</head>
<body>
    <div>
        <form method="POST" id="saveDeptForm">
            <table>
                <tr>
                    <td><label for="Code">Code : </label></td>
                    <td><input type="text" id="Code" name="DeptCode" /></td>
                </tr>
                <tr>
                    <td><label for="Name">Name : </label></td>
                    <td><input type="text" id="Name" name="DeptName" /></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-success" value="Create" /></td>

                </tr>
                <tr>
                    <td></td>
                    <td><h4>@ViewBag.Message</h4></td>
                </tr>
            </table>
        </form>
    </div>
    @section scripts{

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>        $("#saveDeptForm").validate({
            rules: {           
                DeptCode: {
                    required: true,
                    minlength: 2,
                    maxlength: 7
                },
                DeptName: "required"
            },
            messages: {
                
                DeptCode: {
                    required: "Please enter department code",
                    minlength: "Code must be minimum two (2) characters long.",
                    maxlength: "Code must be maximum seven (7) characters long."
                },
                DeptName: "Please enter department name"
            }
        });        
    </script>
    }
</body>
</html>

