@using UnivarsityManagemantSystem.Models

@{
    ViewBag.Title = "Create";
   Layout = "~/Views/Shared/_FacultyLayout.cshtml";
    List<Department> departments = ViewBag.Departments;
}

<h4><i class="icon-plus-sign">Register Students</i></h4>
<!DOCTYPE html>
@section style
    {
  <style>
    label.error {
        color: red;
        font-style:italic;
        display:inline;
        
    }
</style>

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>


</head>
<body>
    <div>
        <form method="POST" id="saveStudentForm">
           
            <div class="col-md-10">                          
            </div>
            <table>
                <tr>
                    <td><label for="StudentName">Name : </label></td>
                    <td><input type="text" id="StudentName" name="StudentName" /></td>

                </tr>
                <tr>
                    <td><label for="RegNo">Registration No : </label></td>
                    <td><input type="text" id="RegNo" name="RegNo" /></td>
                </tr>
                <tr>
                    <td><label for="Email">Email : </label></td>
                    <td><input type="text" id="Email" name="Email" /></td>
                </tr>
                <tr>
                    <td><label for="ContactNo">Contact No : </label></td>
                    <td><input type="text" id="ContactNo" name="ContactNo" /></td>
                </tr>
                <tr>
                   
                    <td><label for="Date">Date : </label></td>
                    <td><input type="date" id="Date" name="Date" /></td>
                </tr>
                <tr>
                    <td><label for="Address">Address : </label></td>
                    <td>
                        <textarea rows="4" cols="40" id="Address" name="Address"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="DepartmentId">Department : </label></td>
                    <td>
                        <select id="DepartmentId" name="DepartmentId">
                            <option value="">- - - - - - - - - Select - - - - - - - - -</option>
                            @foreach (Department department in departments)
                            {
                                <option value="@department.DeptId">@department.DeptName</option>
                            }

                        </select>

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-success" value="Register" /></td>

                </tr>
                <tr>
                    <td></td>
                    <td><h4>@ViewBag.Message</h4></td>
                </tr>
            </table>
        </form>
    </div>
    @section scripts{
       
       <script src="~/Scripts/jquery-1.12.4.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
   
    <script>
        $("#saveStudentForm").validate({
            rules: {
                StudentName: "required",
                RegNo: "required",
                Email: {
                    required: true,
                    email: true
                },
                ContactNo: "required",
                Date: "required",
                Address: {
                    required: true,
                    maxlength: 250,
                    minlength: 5
                },
                DepartmentId: "required",
            },
            messages: {
                StudentName: "Please enter student name",
                RegNo: "Please enter registration number",
                Email: {
                    required: "Please enter email address",
                    email: "Please enter a valid email address",
                },
                ContactNo: "Please enter phone no",
                Date: "Please select date",
                Address: {
                    required: "Please enter the address",
                    maxlength: "Address must consist of at most 250 characters",
                    minlength: "Address must consist of at least 5 characters"
                },
                DepartmentId: "Please select the department"

            }
        });

    </script>


    }
</body>
</html>
